
/* --------------------------------------------------

Reset

*/

body
{
	margin: 0;
	padding: 2em;
}

*, *::before, *::after { box-sizing: border-box; }

/* --------------------------------------------------

(...)

*/

main
{
	width: 100%;
	max-width: 40em;
	margin: 0 auto;
}
